@import '~styles/mixins.scss';
@import '~styles/vars.scss';
.portfolio-item {
  position: relative;
  margin-bottom: 200px;

  img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 350px;
    object-position: 50% 50%;
    cursor: pointer;
  }

  .info {
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 50%;
    height: 50%;
    box-shadow: 3px 3px 17px #888;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .links {
      span {
        font-size: 19px;
        border-bottom: 3px solid #555;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
          border-color: $blue;
        }
      }
      a {
        text-decoration: none;
        font-size: 19px;
        border-bottom: 3px solid #555;
        &:hover {
          border-color: $blue;
        }
      }
    }

    h3 {
      padding-bottom: 0;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 30px;
    }

    p, a {
      line-height: 1.75;
      color: #555;
      font-size: 17px;
    }
  }

  @include tablet {
    margin-bottom: 150px;
    .info {
      position: static;
      box-shadow: none;
      width: 100%;
      height: 250px;
      box-sizing: border-box;
      padding: 50px;
    }
  }

  @include phone {
    margin-bottom: 100px;
    .info {
      padding: 25px;
    }
  }
}

.number {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: white;
  text-shadow: 7px 7px $dark-grey;
  letter-spacing: 10px;
  font-weight: 300;
  position: absolute;
  left: 50px;
  top: -75px;
  font-size: 150px;
}

