// All classes declared here will be global (use className attribute)
// It's imported by default in ApplicationNode.js. No need to import elsewhere.
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import './vars.scss';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 40px;
  padding-bottom: 20px;
}

p, a {

}

.page-container {
  max-width: 850px;
  margin: auto;
  margin-top: 45px;
}

.image-gallery {

  height: 100%;
  width: 100%;
}

.image-gallery-content {
  height: 100%;

}

.image-gallery-slide-wrapper {
  height: 100%;

}

.image-gallery-swipe {
  height: 100%;

}

.image-gallery-slides {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.image-gallery-image {
  display: flex;
  justify-content: center;
  img {
    width: auto;
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }
}

.image-gallery-slide {
  background: none;
  max-height: 100%;
  margin: auto;
  top:auto;
  z-index: 2;
}

.image-gallery-index {
  background: rgba(50, 50, 50, .4);
  top: auto;
  bottom: 20px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.image-gallery-left-nav {
  padding: 25vh 45vw 25vh 3vw;
  cursor: w-resize;

  &:after {
    color: #444;
  }
}
.image-gallery-right-nav {
  padding: 25vh 3vw 25vh 45vw;
  cursor: e-resize;
}
