.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%);
  }
}
