@import '~styles/mixins.scss';

.container {
  position: fixed;
  bottom: 50px;
  left: 50px;

  h1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 10px;
    text-shadow: 3px 3px 5px #AAA;
    line-height: 0;
  }

  p {
    font-size: 20px;
    text-shadow: 3px 3px 5px #CCC;
  }
}


@include phone {
  .container {
    bottom: 30px;
    left: initial;
    width: 100%;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
