@import '~styles/vars.scss';

.item {
  position:relative;
  z-index: 2;
  display: none;
  margin: 10px 5px;
  a {
    text-decoration: none;
    color: $dark-grey;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #CCC;
    transition: all 300ms;

    &:hover, &:active {
      text-shadow: none;
    }
  }
}
