@import '~styles/mixins.scss';

nav {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 30px;
  margin: 50px;
  top: 0;
  left: 0;

  @include tablet {
    margin: 30px;
  }

  @include phone {
    margin: 20px;
  }
}
